* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2em;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}

/***************************************************************/
/*              PREMIÈRE SECTION : ACCUEIL                     */
/***************************************************************/

/* Les listes de la première section */
.listeNavigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.listeNavigation li {
    margin: 0 0.6vw;
}

.listeNavigation a {
    color: #fff;
    transition: color 0.5s;
}

.listeNavigation a:hover,
.listeNavigation a:active {
    color: #c7d3ca;
}

/* La première section */
#accueil {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 3vh;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    height: 100vh;
}

/* La barre de navigation dans la première section */
#barreNavigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 10vw;
    color: #fff;
}

/* Le contenu au centre de la première section */
#articleAccueil {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: auto 12vw 18vh 12vw;
}

/* Le contenu à gauche de l'image */
#articleAccueilGauche {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 25vw;
}

#articleAccueilGauche>* {
    margin-bottom: 5vh;
}

#articleAccueilGauche h2 {
    line-height: 1.3em;
    font-size: 3.5em;
}

#articleAccueilGauche p {
    font-size: 1.15em;
}

#articleAccueilGauche form {
    position: relative;
    width: 100%;
}

/* L'input pour l'email */
#email {
    padding: 10px;
    font-size: 1em;
    width: 100%;
    height: 5vh;
    border: none;
    border-radius: 100px;
}

/* L'input pour submit */
#subscribe {
    background-color: #1294b8;
    color: #fff;
    width: 25%;
    height: 4.2vh;
    border: none;
    border-radius: 100px;
    position: absolute;
    top: 8%;
    right: 1%;
    transition: background-color 1s;
}

#subscribe:hover {
    cursor: pointer;
    background-color: rgb(128, 187, 238);
}

/* L'image d'illustration */
#imageOrdinateur {
    width: 40vw;
    height: auto;
}

/***************************************************************/
/*              DEUXIÈME SECTION : FEATURES                    */
/***************************************************************/

/* Une carte */
.carte {
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 25vw;
    border-radius: 10px;
    margin: 0 1vw;
    padding: 5vh 2.5vw 10vh 2.5vw;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: transform 0.5s;
}

.carte h2 {
    font-size: 4em;
    margin-bottom: 2vh;
}

.carte h3 {
    font-size: 2em;
    margin-bottom: 1vh;
}

.carte:hover {
    transform: translateY(-1vh);
}

/* La deuxième section */
#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#features header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    text-align: center;
    padding-top: 8vh;
}

#features header h1 {
    padding-bottom: 10px;
}

#features header p {
    color: #b3b3b3;
}

/* Le groupe de cartes */
#cartes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 10vh auto;
}

/***************************************************************/
/*              TROISIÈME SECTION : TEAM                       */
/***************************************************************/

/* Le rectangle avec une personne et une donnée */
.personne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 2.5vw 10vh 2.5vw;
}

.personne p {
    margin-bottom: 5vh;
    color: #b3b3b3;
}

.personne h2 {
    font-weight: 500;
}

.personne h3 {
    font-weight: 400;
    margin-top: 1vh;
}

.personne figure {
    position: relative;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    overflow: hidden;
}

/* L'image d'une personne */
.imagePersonne {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    filter: grayscale();
    transition: all 0.5s ease-in-out;
}

.imagePersonne:hover {
    filter: none;
    transform: scale(1.1);
}

/* La troisième section */
#team {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#team header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    text-align: center;
    padding-top: 8vh;
}

#team header h1 {
    padding-bottom: 10px;
}

#team header p {
    color: #b3b3b3;
    width: 35vw;
}

/* Le groupe de personnes */
#personnes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5vh;
}

/* La partie qui rassemble image est réseaux sociaux */
#imageReseau {
    position: relative;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    overflow: hidden;
}

#imageReseau:hover #personneReseau {
    transform: translateX(2.3vw) translateY(10vh);
    opacity: 1;
}

#imageReseau:hover .imagePersonne {
    filter: none;
    transform: scale(1.1);
}

/* Les réseaux d'une personne */
#personneReseau {
    position: absolute;
    top: -1vh;
    left: -1.5vw;
    z-index: 1;
    opacity: 0;
    transition: transform 0.8s, opacity 0.8s;
}

#personneReseau li {
    background-color: #fff;
    padding: 0.5vh 0.45vw;
    border-radius: 50%;
}

#personneReseau a {
    color: #000;
}

/***************************************************************/
/*              QUATRIÈME SECTION : PARALLAX                   */
/***************************************************************/

/* La quatrièeme section */
#parallax {
    position: relative;
}

#parallax article {
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#parallax h1 {
    font-weight: 500;
    font-size: 2.5em;
}

#parallax p {
    color: #d7d5d5;
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 2vh;
}

#parallax button {
    background-color: transparent;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 10vw;
    height: 6vh;
    cursor: pointer;
    transition: all 1s;
}

#parallax button:hover {
    color: #000;
    background-color: #fff;
    transform: translateY(-1vh);
}

/* L'image de l'effet parallax */
#imageParallax {
    background-image: url(img/parallax.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5) saturate(0.7);
    height: 60vh;
}

/***************************************************************/
/*              CINQUIÈME SECTION : BLOG                       */
/***************************************************************/

/* Un des sujets affichés */
.sujetBlog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 23vw;
    height: auto;
    border-radius: 10px;
    margin: 0 2vw;
    overflow: hidden;
}

.sujetBlog figure {
    position: relative;
}

.sujetBlog p {
    color: #000;
    font-weight: 200;
    margin-bottom: 1vh;
}

.sujetBlog h2 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 1vh 0;
}

.sujetBlog a {
    color: #1294b8;
    font-size: 1.1em;
}

.sujetBlog figure:hover>.imageBlog img {
    cursor: pointer;
    filter: brightness(0.6);
}

.sujetBlog figure:hover>.infoSujetImage {
    opacity: 1;
}

/* L'image d'un sujet */
.imageBlog img {
    width: 23vw;
    height: auto;
    transition: filter 0.5s;
}

/* Les infos du créateur du sujet */
.infoSujetImage {
    position: absolute;
    top: 12%;
    left: 8.5%;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;
}

.infoSujetImage p {
    color: #fff;
}

/* La cinquième section */
#blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#blog header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    text-align: center;
    padding-top: 7vh;
}

#blog header h1 {
    padding-bottom: 1vh;
}

#blog header p {
    color: #b3b3b3;
}

/* Les différents sujets du blog qui sont affichés */
#sujetsBlog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10vh auto;
    text-align: start;
}

/***************************************************************/
/*              SIXIÈME SECTION : STATS                        */
/***************************************************************/

/* Une boîte qui contient une statistique */
.statistique {
    margin-right: 2vw;
}

/* La sixième section */
#stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    width: 100%;
}

#stats article {
    width: 27vw;
    height: auto;
}

#stats h1 {
    font-size: 1.5em;
    margin-bottom: 4vh;
}

#stats p {
    color: #b3b3b3;
    margin-bottom: 2vh;
}

#stats button {
    background-color: #3f8efd;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    width: 10vw;
    height: 6vh;
    cursor: pointer;
    transition: all 0.5s;
}

#stats button:hover {
    transform: translateY(-1vh);
}

#stats img {
    width: 40vw;
    height: auto;
}

/* La boîte qui rassemble les statistiques */
#statistiques {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 3vh;
}

#statistiques h2 {
    font-weight: 400;
}

/***************************************************************/
/*              SEPTIÈME SECTION : PRICING                     */
/***************************************************************/

/* Une offre */
.offre {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 1vw;
    padding: 4vh 2vw;
    width: 22vw;
    height: 57vh;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.offre h2 {
    font-size: 1.3em;
    align-self: center;
}

.offre p {
    align-self: center;
    position: relative;
    margin-left: 20px;
}

.offre a {
    width: 100%;
}

.offre button {
    width: 100%;
    height: 6vh;
    border: 2px solid #3f8efd;
    border-radius: 7px;
    background-color: #fff;
    color: #3f8efd;
    font-size: 1.2em;
    font-weight: 400;
    cursor: pointer;
}

/* Une offre sélectionné/pré-sélectionné */
.selectionne {
    transform: translateY(-2vh);
}

.selectionne button {
    background-color: #3f8efd;
    color: #fff;
}

/* Le nombre représentant le prix */
.prix {
    font-size: 5em;
}

/* Le symbole dollar */
.dollar {
    font-size: 2.5em;
    position: absolute;
    top: 1.8vh;
    left: -1.3vw;
}

/* Texte "/month" */
.parMois {
    color: #b3b3b3;
    font-weight: 500;
}

/* Le dollar et le prix */
.dollar,
.prix {
    color: #3f8efd;
}

/* Le détail des fonctionnalités */
.fonctionnalite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5vh;
}

/* La liste des fonctionnalité à gauche */
.fonctionnaliteGauche {
    align-self: flex-start;
}

/* Le symbole valide */
.fa-circle-check {
    color: green;
}

/* Le symbole non-valide */
.fa-circle-xmark {
    color: red;
}

/* La liste des fonctionnalité à droite */
.fonctionnaliteDroite {
    align-self: flex-end;
    text-align: end;
}

/* Les deux listes */
.fonctionnaliteGauche li,
.fonctionnaliteDroite li {
    padding-top: 2vh;
    font-size: 1.1em;
}

/* La septième section */
#pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #eeeeee;
}

#pricing header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    padding-top: 5vh;
    text-align: center;
}

#pricing header h1 {
    padding-bottom: 1vh;
}

#pricing header p {
    color: #b3b3b3;
}

/* La boîte qui contient toutes les offres */
#offres {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}

/* Partie d'affichage de la réduction */
#sale {
    position: absolute;
    top: 0;
    right: 0;
    height: 7vh;
    width: 7vh;
    border-radius: 0 10px 0 20px;
    background-color: #3a81e4;
    color: #fff;
    padding: 1.7vh 1vw;
    text-align: center;
    font-weight: 300;
    line-height: 1;
}

/***************************************************************/
/*              DERNIÈME SECTION : FOOTER                      */
/***************************************************************/

/* Le footer */
footer {
    background-color: #24262a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
}

/* Les liens du haut */
#liensReseau {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#liensReseau li {
    margin-bottom: 2vh;
}

#liensReseau a {
    display: block;
    width: 100%;
    height: 5vh;
    color: #b3b3b3;
    padding-top: 1.3vh;
}

#liensReseau button {
    background-color: #24262a;
    color: #b3b3b3;
    width: 5vh;
    height: 5vh;
    margin: 0 1vw;
    border: 1px solid #b3b3b3;
    border-radius: 100%;
    cursor: pointer;
}

/* Les liens du milieu */
#liens {
    color: #b3b3b3;
    margin: 1vh 0;
}

#liens a {
    color: #b3b3b3;
    margin: 0 1vw;
}

/* Le texte du bas */
#bas {
    color: #b3b3b3;
    margin-top: 1vh;
}

/***************************************************************/
/*              BOUTON DE RETOUR EN HAUT DE PAGE               */
/***************************************************************/

/* Le bouton */
#revenirEnHaut {
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    width: 3vw;
    height: 3vw;
    background-color: #24262a;
    color: #fff;
    font-size: 2em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/***************************************************************/
/*              BOUTON DE LIEN VERS LA PAGE ADMIN              */
/***************************************************************/

/* Le bouton */
#versAdmin {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 50%;
    width: 3vw;
    height: 3vw;
    background-color: #24262a;
    color: #fff;
    font-size: 1.2em;
}

/***************************************************************/
/*                   STYLE UPDATE ADMIN                        */
/***************************************************************/

/* La boite qui contient toute les offres à update */
.offresUpdate {
    display: flex;
    flex-direction: column;
    margin: 0 1vw;
    padding: 4vh 2vw;
    width: 25vw;
    height: 57vh;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.offresUpdate input[type=submit] {
    width: 100%;
    height: 6vh;
    border: none;
    background-color: #3f8efd;
    color: #fff;
    cursor: pointer;
}

/* Une offre à update */
.update {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.update input {
    width: 10vw;
    height: 4vh;
    padding: 1vh 1vw;
}

/* Les élements à droite et à gauche à update */
.updateGauche div,
.updateDroite div {
    margin-bottom: 2vh;
}

/* La section qui représente la page */
#updates {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#updates header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    padding-top: 5vh;
    text-align: center;
}

#updates header h1 {
    padding-bottom: 1vh;
    color: #3f8efd;
}

/* La boîte qui contient toutes les offres */
#boiteUpdate {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}

/***************************************************************/
/*                  MESSAGES CONFIRMATION                      */
/***************************************************************/

/* Les messages de confirmations */
.messageConfirmation,
.messageConfirmationEmail {
    display: block;
    z-index: 1;
    background-color: #71f871;
    color: #fff;
    position: fixed;
    top: 10vh;
    right: 5vw;
    opacity: 0;
    padding: 5px;
    border-radius: 5px;
    transition: all 2s;
}

.messageConfirmation.afficher,
.messageConfirmationEmail.afficher {
    opacity: 1;
}