*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2em;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

input{
    font-family: 'Poppins', sans-serif;
}

/***************************************************************/
/*              PREMIÈRE SECTION : ACCUEIL                     */
/***************************************************************/

/* Les listes de la première section */
.listeNavigation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.listeNavigation li{
    margin: 0 0.6vw;
}
.listeNavigation a{
    color: #fff;
    transition: color 0.5s;
}
.listeNavigation a:hover, .listeNavigation a:active{
    color: #c7d3ca;
}

/* La première section */
#accueil{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 3vh;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    height: 100vh;
}

/* La barre de navigation dans la première section */
#barreNavigation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 10vw;
    color: #fff;
}

/* Le contenu au centre de la première section */
#articleAccueil{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: auto 12vw 18vh 12vw;
}

/* Le contenu à gauche de l'image */
#articleAccueilGauche{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 25vw;
}
#articleAccueilGauche > *{
    margin-bottom: 5vh;
}
#articleAccueilGauche h2{
    line-height: 1.3em;
    font-size: 3.5em;
}
#articleAccueilGauche p{
    font-size: 1.15em;
}
#articleAccueilGauche form{
    position: relative;
    width: 100%;
}

/* L'input pour l'email */
#email{
    padding: 10px;
    font-size: 1em;
    width: 100%;
    height: 5vh;
    border: none;
    border-radius: 100px;
}

/* L'input pour submit */
#subscribe{
    background-color: #1294b8;
    color: #fff;
    width: 25%;
    height: 4.2vh;
    border: none;
    border-radius: 100px;
    position: absolute;
    top: 8%;
    right: 1%;
    transition: background-color 1s;
}
#subscribe:hover{
    cursor: pointer;
    background-color: rgb(128, 187, 238);
}

/* L'image d'illustration */
#imageOrdinateur{
    width: 40vw;
    height: auto;
}

/***************************************************************/
/*              DEUXIÈME SECTION : FEATURES                    */
/***************************************************************/

/* Une carte */
.carte{
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 25vw;
    border-radius: 10px;
    margin: 0 1vw;
    padding: 5vh 2.5vw 10vh 2.5vw;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: transform 0.5s;
}
.carte h2{
    font-size: 4em;
    margin-bottom: 2vh;
}
.carte h3{
    font-size: 2em;
    margin-bottom: 1vh;
}
.carte:hover{
    transform: translateY(-1vh);
}

/* La deuxième section */
#features{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
#features header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    text-align: center;
    padding-top: 8vh;
}
#features header h1{
    padding-bottom: 10px;
}
#features header p{
    color: #b3b3b3;
}

/* Le groupe de cartes */
#cartes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 10vh auto;
}

/***************************************************************/
/*              TROISIÈME SECTION : TEAM                       */
/***************************************************************/
